<p [title]="titleText">
{{title}}
</p>

<!-- <input type="text" (input)="clickMe($event)" /> -->
<hr/>
<h2>event binding and ngModel </h2>
<button [disabled]="!allowclick" (click)="onClicked()"> Click Me</button>
<input type="text" [(ngModel)]="EnteredData" placeholder="Typing..."/>
<p>{{ShowData}}</p>

<hr/>
<h2>NgStyle</h2>
<p [ngStyle]="{backgroundColor:getColor()}">The status is {{currentStatus}} -- {{getColor()}}</p>

<hr/>
<h2>*ngFor</h2>
<button (click)="addItems()"> Click Me</button> 
<input type="text" [(ngModel)]="itemName" placeholder="Typing..."/>
<div *ngFor="let eachItem of repeatItems">
{{itemName}}
{{eachItem}}
    {{title}}
</div>

<h1 class="md-col-12" *ngIf="showFlag"> showFlag is {{showFlag}}</h1>
<h1> ngIF condition</h1>
<div *ngIf="!showFlag"> show Flag is {{showFlag}}</div>

<div *ngFor="let color of colors; let i = index;let even = even;let odd = odd;let first = first;let last = last;">
    <div>
        <span> {{i}} This is last {{color}}</span>
    </div>
</div>

<h2>For Loop</h2>
<div *ngFor="let list of items">
    <span>Name : {{list.name}}, Age : {{list.age}}</span>

    <!--<h2>ngSwitch Loop</h2>
    <div [ngSwitch] = "view">
        <span [ngSwitchCase] ="view == one">{{list.name}}</span>
        <span [ngSwitchDefault] >{{list.name}}</span>
    </div>-->

</div>